/*文本*/
.t-left {
  text-align: left;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-inline {
  display: inline;
}
.d-in-block {
  display: inline-block;
}
.f-weight {
  font-weight: bold;
}
.v-middle {
  vertical-align: middle;
}
.v-top {
  vertical-align: top;
}
/*弹性盒*/
.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}
.flex-inline {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
}
.flex-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}
.felx-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}
.flex-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}
.item-center {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}
.flex-center {
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.flex1 {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
}
.w100 {
  width: 100%;
}
.trans4 {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
a:hover {
  color: #e92930!important;
}
.index-nav {
  width: 975px;
}
.index-nav .nav {
  font-size: 0px;
}
.index-nav .nav a {
  display: inline-block;
  margin-right: 50px;
}
.index-nav .nav a:last-child {
  margin-right: 0px;
}
.index-nav .all-course {
  width: 230px;
  height: 50px;
  background-color: #f8f8f8;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 50px;
}
.index-nav .nav a {
  line-height: 50px;
  font-size: 16px;
  color: #000;
}
.index-banner .ban {
  width: 100%;
  font-size: 0px;
}
.index-banner .slidebar {
  position: absolute;
}
.index-banner .slidebar .login {
  width: 180px;
  padding-bottom: 16px;
  background: #fff;
}
.index-banner .slidebar .login .portrait img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -ms-border-radius: 100%;
}
.index-banner .slidebar .login .portrait p {
  padding-top: 15px;
  color: #999999;
}
.index-banner .slidebar .loging button {
  width: 110px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .4s;
}
.index-banner .slidebar .loging button:hover {
  transform: translate(0, -2px);
}
.index-banner .slidebar .loging button:first-child {
  background-color: #e92930;
  font-size: 14px;
  color: #ffffff;
}
.index-banner .slidebar .loging button:last-child {
  border: solid 1px #e92930;
  color: #e92930;
  font-size: 14px;
  background-color: #fff;
  margin-right: 2px;
  margin-top: 10px;
}
.index-banner .slidebar .login-nav {
  width: 132px;
  margin: 0 auto;
}
.index-banner .slidebar .login-nav a {
  display: inline-block;
  margin-bottom: 13px;
  font-size: 14px;
  color: #999;
}
.index-banner .slidebar .login-nav a:hover {
  color: #e92930;
}
.index-banner .slidebar .course-list:hover .bd {
  display: block;
}
.index-banner .course-list .zhe {
  width: 230px;
  height: 420px;
  background-color: #000000;
  opacity: 0.55;
}
.index-banner .course-list .hd ul {
  position: absolute;
  z-index: 999999999999;
}
.index-banner .course-list .hd li {
  padding-top: 20px;
  width: 230px;
  padding-bottom: 13px;
  cursor: pointer;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  margin-top:-10px;
}
.index-banner .course-list .hd li:first-child {
  margin-top:10px;
}
.index-banner .course-list .hd li h3 {
  font-size: 16px;
  border-left: 4px transparent solid;
  height: 14px;
  padding-left: 25px;
  width: 177px;
}
.index-banner .course-list .hd li h3 i {
  position: absolute;
  right: 26px;
}
.index-banner .course-list .hd li div {
  padding-left: 30px;
  margin-top: 15px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
.index-banner .course-list .hd li h3,
.index-banner .course-list .hd li a {
  color: #fff;
}
.index-banner .course-list .hd li a {
  font-size: 12px;
  margin-bottom: 10px;
}
.index-banner .course-list li.on {
  background: url('../image/index-slidebar-bg.png') top center no-repeat;
}
.index-banner .course-list li.on h3 {
  border-left-color: #e92930;
}
.index-banner .course-list li:first-child div {
  width: 115px;
}
.index-banner .course-list li:first-child + li div {
  width: 175px;
}
.index-banner .course-list li:first-child + li div a:last-child {
  margin-right: 50px;
}
.index-banner .course-list li:first-child + li + li div {
  width: 127px;
}
.index-banner .course-list li:last-child div {
  width: 175px;
}


.index-banner .course-list .bd {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  position: absolute;
  display: none;
  top: 0;
  left: 230px;
  width: 500px;
  height: 397px;
  padding-bottom: 11px;
  border-top: 1px #ededed solid;
  margin-top:10px;
}
.index-banner .course-list .bd ul {
  padding: 20px 0 10px 25px;
  background: #fff;
  font-size: 0px;
}
.index-banner .course-list .bd h3 {
  color: #333;
  font-size: 16px;
margin-left:15px;
margin-bottom: 30px;
}

.index-banner .course-list .bd ul a {
  display: inline-block;
  padding-right: 25px;
  font-size: 12px;
  margin-left: 15px;
  margin-bottom: 18px;
  color: #666;
}
.index-banner .course-list .bd ul li a {
  color: #999;
  font-size: 14px;
}

.index-banner .course-list .bd ul li + h3{
  margin-top:15px;
}
.index-card a {
  width: 192px;
  height: 100px;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.index-card a:hover {
  transform: translate(0, -4px);
  -webkit-transform: translate(0, -4px);
  -moz-transform: translate(0, -4px);
}
.index-card a span {
  position: absolute;
  min-width:67px;
min-height:40px;
font-size:16px;
font-weight:bold;
color:rgba(255,255,255,1);
line-height:24px;
left:20px;
top:12px;
}
.index-card a:nth-child(1) span {
text-shadow:0px 3px 6px rgba(0,91,181,1);
}
.index-card a:nth-child(2) span {
text-shadow:0px 3px 6px rgba(192,50,0,1);
}
.index-card a:nth-child(3) span {
text-shadow:0px 3px 6px rgba(32,21,232,1);
}
.index-card a:nth-child(4) span {
text-shadow:0px 3px 6px rgba(216,21,74,1);
}
.index-card a:nth-child(5) span {
text-shadow:0px 3px 6px rgba(0,142,109,1);
}
.index-card a:nth-child(6) span {
text-shadow:0px 3px 6px rgba(211,122,0,1);
}
.index-toutiao {
  background: #fff;
  padding: 15px 0;
}
.index-toutiao img {
  vertical-align: middle;
  margin-right: 20px;
}
.index-toutiao .toutiao-l .img {
  padding-left: 20px;
}
.index-toutiao .toutiao-l .img + div {
  font-size: 0px;
}
.index-toutiao .toutiao-l .img + div a {
  color: #666666;
  display: inline-block;
  margin-right: 35px;
  font-size: 14px;
  color: #666;
  padding-top: 3px;
}
.index-toutiao .toutiao-l .img + div a:hover {
  color: #e92930;
}
.index-toutiao .toutiao-l + div {
  padding-right: 20px;
  font-size: 12px;
}
.index-toutiao .toutiao-l + div a {
vertical-align: -moz-baseline-middle;
vertical-align: -webkit-baseline-middle;
  color: #999999;
}
.main-wrap {
  width: 100%;
  background: #f8f8f8;
}

.index-list1 {
  background: #fff;
  overflow: hidden;
  padding-bottom: 12px;
}
.index-list1 .lsit-tit {
  padding-top: 30px;
  width: 825px;
  margin-left: 30px;
}
.index-list1 .lsit-tit h3 {
  border-left: 4px #e92930 solid;
  height: 23px;
  display: inline-block;
  font-size: 24px;
  color: #333;
  padding-left: 20px;
}
.index-list1 .lsit-tit .hd {
  padding-top: 5px;
}
.index-list1 .lsit-tit .hd span {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-right: 46px;
  text-align: center;
  font-size: 0px;
}
.index-list1 .lsit-tit .hd span em {
  color: #333333;
  display: block;
  font-size: 16px;
}
.index-list1 .lsit-tit .hd span i {
  width: 35px;
  height: 2px;
  background-color: #e92930;
  display: inline-block;
  visibility: hidden;
  margin-top: 9px;
}
.index-list1 .lsit-tit .hd span.on em {
  color: #e92930;
}
.index-list1 .lsit-tit .hd span.on i {
  visibility: visible;
}
.index-list1 .list1-cont {
  border-top: 1px #ededed solid;
}
.index-list1 .bd-list {
  margin-top: 30px;
}
.index-list1 .bd-list .bd-list-l {
  width: 247px;
  height: 385px;
  background-color: #ffdabd;
  text-align: center;
}
.index-list1 .bd-list .bd-list-l .bd-list-l-tit h4 {
  color: #ef9854;
  font-size: 20px;
  margin-bottom: 5px;
}
.index-list1 .bd-list .bd-list-l .bd-list-l-tit h4 + i {
  width: 100px;
  height: 1px;
  background-color: #ffe6d2;
  display: inline-block;
  text-align: center;
  line-height: 0;
}
.index-list1 .bd-list .bd-list-l .bd-list-l-tit h4 + i em {
  display: inline-block;
  width: 15px;
  height: 3px;
  background: #ef9854;
  position: relative;
  top: -3px;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont {
  display: inline-block;
  width: 195px;
  height: 188px;
  background-color: #ffe7d4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div {
  width: 170px;
  height: 215px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-left: 13px;
  margin-top: -14px;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div span {
  margin-top: 27px;
  display: inline-block;
  width: 130px;
  color: #ef9854;
  font-size: 14px;
  line-height: 22px;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div p {
  padding-top: 3px;
  color: #999999;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div P + div {
  margin-top: 30px;
  width: 130px;
  height: 74px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div P + div img {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
.index-list1 .bd-list .bd-list-l .bd-list-cont > div P + div:hover img {
  transform: scale(1.1, 1.1);
}
.index-list1 .bd-list .hd2 {
  margin-top: 40px;
}
.index-list1 .bd-list .hd2 i {
  width: 8px;
  height: 8px;
  background-color: #ffe2cb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin-right: 2px;
}
.index-list1 .bd-list .hd2 i.on {
  background: #fff;
}
.index-list1 .bd-list-c {
  width: 609px;
}
.index-list1 .bd-list-c .tit {
  margin-top: 3px;
}
.index-list1 .bd-list-c .tit h3 {
  padding-left: 10px;
  height: 10px;
  border-left: 3px solid #e92930;
  width: 78px;
  font-size: 16px;
  color: #666;
  line-height: 8px;
}
.index-list1 .bd-list-c .tit a {
  font-size: 12px;
  color: #999999;
}
.index-list1 .bd-list-c .bd-list-c1 {
  margin-top: 20px;
}
.index-list1 .bd-list-c .bd-list-c1 > div {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  width: 296px;
  height: 167px;
  border: solid 1px #ededed;
  margin-bottom: 15px;
}
.index-list1 .bd-list-c .bd-list-c1 > div:hover {
  transform: translate(0, -4px);
}
.index-list1 .bd-list-r {
  width: 256px;
}
.index-list1 .bd-list-r .bd-list-r1 {
  height: 178px;
  overflow: hidden;
}
.index-list1 .bd-list-r .tit {
  margin-top: 3px;
}
.index-list1 .bd-list-r .tit h3 {
  padding-left: 10px;
  height: 10px;
  border-left: 3px solid #e92930;
  width: 78px;
  font-size: 16px;
  color: #666;
  line-height: 8px;
}

.index-list1 .bd-list-r ol li {
  text-align: center;
  width:13px;
height:13px;
border-radius:3px;
line-height: 13px;
margin-bottom: 15px;
}
.index-list1 .bd-list-r ol li:last-child {
  margin-bottom:0!important;
}


.index-list1 .bd-list-r ol li:nth-child(1) {
background:rgba(255,186,136,1);
}
.index-list1 .bd-list-r ol li:nth-child(2) {
  background:rgba(255,177,145,1);
}
.index-list1 .bd-list-r ol li:nth-child(3) {

  background:rgba(255,166,157,1);
}
.index-list1 .bd-list-r ol li:nth-child(4) {

  background:rgba(255,145,123,1);
}
.index-list1 .bd-list-r ol li:nth-child(5) {

  background:rgba(255,123,128,1);
}

.index-list1 .bd-list-r ol {
  color: #fff;
  margin-top:8px;
}
.index-list1 .bd-list-r ul {
  margin-top: 8px;
  margin-left:10px;
}
.index-list1 .bd-list-r ul > li {
  margin-bottom: 16px;
  width: 204px;
}
.index-list1 .bd-list-r ul > li a {
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 211px;
  display: block;
}
.index-list1 .bd-list-r > div:nth-child(2) {
  margin-top: 38px;
}
#index-list2 .bd-list-l {
  background: #abebfd!important;
}
#index-list2 .lsit-tit {width:724px;}
#index-list2 .bd-list .hd2 i {
  background: #bff1ff!important;
}
#index-list2 .bd-list .hd2 i.on {
  background: #fff!important;
}
#index-list2 .bd-list-l-tit h4 {
  color: #00a3d1;
}
#index-list2 .bd-list-l-tit h4 + i {
  background: #caf3ff;
}
#index-list2 .bd-list-l-tit h4 + i em {
  background: #00a3d1;
}
#index-list2 .bd-list-cont > div span {
  color: #00a3d1;
}
#index-list2 .bd-list .bd-list-l .bd-list-cont {
  background: #c8f2fe;
}
#index-list2 .bd-list-r ol {
  background-blend-mode: normal, 
		normal;
}

#index-list2 ol li:nth-child(1) {
background:rgba(107,215,246,1);
}

#index-list2 ol li:nth-child(2) {
background:rgba(109,200,247,1);
}
#index-list2 ol li:nth-child(3) {
  background:rgba(111,186,248,1);
}

#index-list2 ol li:nth-child(4) {
  background:rgba(113,173,249,1);
}

#index-list2 ol li:nth-child(5) {
background:rgba(94,150,244,1);
}










#index-list3 {
  padding-bottom: 30px;
}
#index-list3 .bd-list-r > div:nth-child(2) {
  margin-top: 91px;
}
#index-list3 .lsit-tit {width: 729px;}
#index-list3 .bd-list-c {
  width: 883px;
}
#index-list3 .bd-list-c .w-list {
  font-size: 0px;
  margin-top: 33px;
}
#index-list3 .bd-list-c .w-list > div a {
  width: 286px;
  height: 161px;
  display: block;
  overflow: hidden;
}
#index-list3 .bd-list-c .w-list > div img {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
#index-list3 .bd-list-c .w-list > div:hover img {
  transform: scale(1.05, 1.05);
}
#index-list3 .bd-list-c .w-list div {
  overflow: hidden;
  text-align: center;
}
#index-list3 .bd-list-c .w-list div span {
  color: #666666;
  font-size: 12px;
  height: 46px;
  display: inline-block;
  line-height: 46px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  margin-bottom: 5px;
}
#index-list3 .bd-list-c .w-list div img {
  display: block;
}
#index-list3 .bd-list-c .w-list div:hover span {
  color: #e92930;
}
#index-list3 .actiy {
  margin-top: 13px;
}
#index-list3 .actiy-list1 {
  width: 432px;
  height: 130px;
  margin-top: 30px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  background-color: #fff5fa;
}
#index-list3 .actiy-list1:hover {
  transform: translate(0, -5px);
}
#index-list3 .actiy-list1 .list-l {
  padding-top: 40px;
  padding-left: 30px;
}
#index-list3 .actiy-list1 .list-l h4 {
  font-size: 20px;
  color: #e859a5;
}
#index-list3 .actiy-list1 .list-l a {
  font-size: 16px;
  color: #999;
  margin-top: 15px;
  display: block;
}
#index-list3 .list-l + div {
  padding-top: 16px;
  padding-right: 35px;
}
#index-list3 .bd-list-r .bd-list-r1 {
  height: 286px;
}
#index-list3 .bd-list-r ol {
  height: 251px;
}
#index-list3 .bd-list-r ol li:first-child {
  background:rgba(231,147,255,1);
}
#index-list3 .bd-list-r ol li:nth-child(2) {
background:rgba(233,143,246,1);
}
#index-list3 .bd-list-r ol li:nth-child(3) {
background:rgba(235,138,237,1);
}
#index-list3 .bd-list-r ol li:nth-child(4) {
background:rgba(237,133,226,1);
}
#index-list3 .bd-list-r ol li:nth-child(5) {
background:rgba(240,129,216,1);
}
#index-list3 .bd-list-r ol li:nth-child(6) {
background:rgba(241,127,212,1);
}


#index-list3 .bd-list-r ol li:nth-child(7) {
background:rgba(244,120,198,1);
}


#index-list3 .bd-list-r ol li:nth-child(8) {
background:rgba(246,116,190,1);
}


#index-list3 .bd-list-r ol li:nth-child(9) {
background:rgba(246,115,187,1);
}














.index-list4 .lsit-tit .hd {
  margin-right: 151px !important;
}
.index-list4 .actiy-list1 {
  background-color: #f2fffe!important;
}
.index-list4 .lsit-tit {width: 766px!important;}
.index-list4 .actiy-list1 .list-l h4 {
  color: #31c3bd!important;
}
.index-list4 .bd-list-r ol li:first-child {
  background:rgba(73,226,242,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(2) {
background:rgba(73,224,234,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(3) {
  background:rgba(74,222,224,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(4) {
background:rgba(74,219,214,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(5) {
background:rgba(75,217,202,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(6) {
  background:rgba(75,214,191,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(7) {
background:rgba(75,211,181,1)!important;
}
.index-list4 .bd-list-r ol li:nth-child(8) {
background:rgba(76,209,172,1)!important;
}

.index-list4 .bd-list-r ol li:nth-child(9) {
background:rgba(78,209,167,1)!important;
}
#teach {
  padding-bottom: 30px;
}
#teach .lsit-tit {width: 835px;}
#teach .bd-list-c {
  width: 887px;
}
.map-l .tit {
  width: 883px;
}
.map-l .tit h3 {
  padding-left: 10px;
  height: 10px;
  border-left: 3px solid #e92930;
  width: 78px;
  font-size: 16px;
  color: #666;
  line-height: 8px;
}
.map-l .tit a {
  font-size: 12px;
  color: #999999;
}
.map-l .map-cont {
  width: 445px;
}
.map-l .map-cont p {
  color: #666666;
  text-indent: 25px;
  line-height: 30px;
}
.map-l ul {
  margin-top: 22px;
}
.map-l li i {
  color: #e92930;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;
  font-size: 14px;
}
.map-l li {
  margin-bottom: 22px;
}
.map-l li:last-child {
  margin-bottom: 0px;
}
.map-l .map-img {
  width: 410px;
  height: 230px;
  overflow: hidden;
}
.map-l .map-img img {
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
}
.map-r {
  margin-right: 25px;
  width: 230px;
}
.map-r .tit h3 {
  padding-left: 10px;
  height: 10px;
  border-left: 3px solid #e92930;
  width: 78px;
  font-size: 16px;
  color: #666;
  line-height: 8px;
}
.map-r .from {
  margin-top: 32px;
  width: 230px;
  height: 229px;
  border: solid 1px #ededed;
  text-align: center;
}
.map-r .from form {
  margin-top: 40px;
}
.map-r .from form label {
  text-align: left;
  width: 174px;
  border-bottom: 1px #fafafa solid;
  height: 32px;
  margin-bottom: 18px;
  padding-bottom: 17px;
  display: inline-block;
}
.map-r .from form label i {
  top: 17px;
  position: relative;
  color: #e92930;
}
.map-r .from form label input {
  background: transparent;
  border: none;
  margin-left: 34px;
  width: 140px;
}
.map-r .from form input[type="button"] {
  width: 135px;
  height: 36px;
  background-color: #c5c5c5;
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.jigou {
  background: #fff;
}
.jigou h3 {
  border-left: 4px #e92930 solid;
  height: 23px;
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin: 30px 0 0 30px;
  padding-left: 20px;
}
.jigou .jigou-list {
  padding-top: 30px;
  width: 1140px;
  padding-bottom: 30px;
  margin-left: 30px;
}
.jigou .jigou-list a {
  text-align: center;
  width: 212px;
  height: 76px;
  background-color: #f7f7f7;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.jigou .jigou-list a:hover {
  transform: translate(0, -4px);
}
.jigou .jigou-list a:nth-child(4) {
  background-color: #c40813;
}

footer article {
           background: #f8f8f8;
           width: 100%;
           top:50px;
        }
        .footer-nav {padding-top:50px;}
        footer .footer-nav {
          margin-top:0!important;
          border-top:none!important;
        }

        .index-href {
        position: relative;
        }
         .index-href a {
           display: block;
         }

       .index-banner .course-list {
         z-index: 99999999;
       }
      .index-banner .login {
        position: relative;
        z-index: 99999999999999;
      }
  .footer .diqu .diqu-list {width: 635px!important;}
  
.h-bot .logo + div {top:13px!important;}